// ----------------------------------------------------------------------------
// Sass declarations
// ----------------------------------------------------------------------------
$background-color:  #47BBB3;
 
// ----------------------------------------------------------------------------
// Widget-comment styles
// ----------------------------------------------------------------------------
.widget-instadash {
 
  background-color: $background-color;
 
  .photo-container {
    display: none;
  }
 
}