<% content_for(:title) { "OHY Dashing" } %>
<div class="gridster">
  <ul>
    <!-- <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <center><div data-id="Image" data-view="image" data-title="image" style="background-color:#FFFFFF"><img src="http://s27.postimg.org/a8rilsv6b/OHY_Logo.png"></div></center>
    </li> -->
     <li data-row="1" data-col="1" data-sizex="1" data-sizey="2">
      <div data-id="buzzwords" data-view="List" data-unordered="true" data-title="Leaderboard" data-moreinfo="Game: Catchy" style="background: #FFA812 url(http://s28.postimg.org/8o9txuyvh/OHY_Logo.png) no-repeat;"></div>
    </li>
    <li data-row="1" data-col="1" data-sizex="2" data-sizey="1">
        <div data-view="Countdown" data-title="Until launch of OHY" data-end="7-June-2014 19:00:00"></div>
    </li>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="twitter_mentions" data-view="Comments" data-title="#ohheckyeah" style="background-color: #9934E6;"></div>
    </li>
    <li data-row="1" data-col="1" data-sizex="2" data-sizey="1">
      <div data-id="Image" data-view="image" data-title="image" style="background-color:#47BBB3;"><img src="http://www.bincho-art.com/testbg.png"></div>
    </li>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
        <div data-id="instadash" data-view="Instadash"></div>
    </li>
  </ul>
</div>