<% content_for(:title) { "OHY Dashing" } %>
<div class="gridster">
  <ul>
    <!-- <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <center><div data-id="Image" data-view="image" data-title="image" style="background-color:#FFFFFF"><img src="http://s27.postimg.org/a8rilsv6b/OHY_Logo.png"></div></center>
    </li> -->
     <li data-row="1" data-col="1" data-sizex="1" data-sizey="2">
      <div data-id="buzzwords" data-view="List" data-unordered="true" data-title="Leaderboard" data-moreinfo="Game: Catchy" style="background: #FFA812 url(http://s28.postimg.org/8o9txuyvh/OHY_Logo.png) no-repeat;"></div>
    </li>
    <li data-row="1" data-col="1" data-sizex="2" data-sizey="1">
        <div data-view="Countdown" data-title="Until launch of OHY" data-end="7-June-2014 19:00:00"></div>
    </li>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="twitter_mentions" data-view="Comments" data-title="#ohheckyeah" style="background-color: #9934E6;"></div>
    </li>
    <li data-row="1" data-col="1" data-sizex="2" data-sizey="1">
      <div data-id="Image" data-view="image" data-title="image" style="background-color:#47BBB3;"><img src="http://www.bincho-art.com/testbg.png"></div>
    </li>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
        <div data-id="instadash" data-view="Instadash"></div>
    </li>
    <li data-row="1" data-col="1" data-sizex="4" data-sizey="1">
        <div data-id="" data-view="" style="font-size:14px;">
<b>Data Visualization:</b><br />
The goal for this project was to display multiple forms/sources of data pertaining to Oh Heck Yeah, while still conforming to the visual aesthetic that had already been established.
            <br />
            <br />
Using the Ruby-language based “Dashing” by Shopify, the current template consists of a functioning Twitter feed (displaying #Ohheckyeah), countdown clock, and geographical Instagram feed (pulling from Champa street). There are also mockups for a leaderboard and foursquare venue check-in.
            <br />
            <br />
<b>About the Authors:</b><br />
Bob Droog is an international student, experienced in front and back-end web development with a passion for web design. He is always looking to expand his repertoire as a multi-lingual coder.
            <br />
            <br />
Steven Anderson is a proficient front-end web developer with a professional background in illustration and graphic design. He dove head first into web development and views it as a future-driven form of expression.
        
        </div>
    </li>
  </ul>
</div>